
.editor {
  display: flex;
  flex-direction: column;
}

.menubar {
  width: 200px;
  margin-top: 30px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .button-bar {
    background-color: #E2E8F1;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: #08142a;
    &.is-active {
      background-color: #08142a;
      color: #D6DBDF;
    }
  }
}

.picto-vuejs {
  width: 20px;
}

.title {
  color: #F4D03F;
  margin-left: 10px;
}

.footer {
  color: #F0F3F4;
  margin-top: 60px;
  margin-left: 10px;
  text-align: center;
}

.editor-content {
  border: solid #F4D03F 5px;
  color: #FFFAFA;
  margin: 30px 10px 0px 10px;
  padding: 10px;
}

.ProseMirror:focus {
  outline: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.modal-window {
  .modal {
    background-color: #08142A;
    display: flex;
    flex-direction: column;
    .radio-group {
      flex-direction: row;
      input {
        width: 20px;
        position: relative;
        left: 10px;
        vertical-align: middle;
      }
      label {
        width: 200px;
        position: relative;
        left: 20px;
        top: 1px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  color: #F4D03F;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s;
  &>div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

/* Demo Styles */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: rgb(8,20,42);
  background: linear-gradient(297deg, rgba(8,20,42,1) 0%, rgba(28,71,124,1) 100%, rgba(195,203,208,1) 100%);
  color: black
}

a {
  color: inherit;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: #aaa;
}

.btn {
  background-color: #fff;
  padding: 1em 1.5em;
  border-radius: 3px;
  text-decoration: none;
  i {
    padding-right: 0.3em;
  }
}
